OG/notes/.ipynb_checkpoints/
OG/.ipynb_checkpoints/
OG/notes/2021-01-09/.ipynb_checkpoints/
OG/notes/
.ipynb_checkpoints/
OG/__pycache__/__init__.cpython-35.pyc
OG/__pycache__/WordReader.cpython-35.pyc
OG/memo.py
OG/OG.ipynb
OG/__pycache__/
OG/notes.html
ynm/.ipynb_checkpoints/
ynm/__pycache__/
demo/notes/
images/GM.png
images/GM.svg
images/grema_logo.png
images/grema_media.png
images/grema_media_purple.png
utils/__pycache__/
ynm/memo.py
